<!DOCTYPE html>
<html>
    <head>
        <title>web blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">firs weblog</a></h1>
        </header>

        {% for post in posts %}
        <article>
            <time>
                {{post.published_date}}
            </time><br>
            <time>
                {{post.created_date}}
            </time>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text}}</p>
        <hr>
    </article>
    {% endfor %}

   
    </body>
</html>